[submodule "Carthage/Checkouts/Freddy"]
	path = Carthage/Checkouts/Freddy
	url = ssh://git@github.com/bignerdranch/Freddy.git
[submodule "Carthage/Checkouts/MPTimer"]
	path = Carthage/Checkouts/MPTimer
	url = ssh://git@github.com/mpapp/MPTimer.git
[submodule "Carthage/Checkouts/RegexKitLite"]
	path = Carthage/Checkouts/RegexKitLite
	url = ssh://git@github.com/mpapp/RegexKitLite.git
[submodule "Carthage/Checkouts/SWXMLHash"]
	path = Carthage/Checkouts/SWXMLHash
	url = ssh://git@github.com/drmohundro/SWXMLHash.git
[submodule "Carthage/Checkouts/OHHTTPStubs"]
	path = Carthage/Checkouts/OHHTTPStubs
	url = ssh://git@github.com/AliSoftware/OHHTTPStubs.git
[submodule "Carthage/Checkouts/MPRateLimiter"]
	path = Carthage/Checkouts/MPRateLimiter
	url = ssh://git@github.com/mpapp/MPRateLimiter.git
