github "mz2/Freddy" "master"
github "mpapp/MPTimer" "master"
github "mpapp/RegexKitLite" "master"
github "mpapp/SWXMLHash" "master"
github "mpapp/OHHTTPStubs" "master"
github "mz2/MPRateLimiter" "master"
